.footer {
background-color: #474747;
color: #fff;
padding: 14px;
font-size: 12px;
grid-area: footer;
display: flex;
align-items: center;
justify-content: space-around;
}
.attention {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}
.rights {

}
.author {

}
.contacts {
    display: flex;
    column-gap: 25px;
    align-items: center;
}
.info {
    display: flex;
    column-gap: 25px;
    align-items: center;
}
.active {
    padding-bottom: 90px;
}